In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('google_activity_by_London_Borough.csv')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11154 entries, 0 to 11153
Data columns (total 10 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Unnamed: 0                                          11154 non-null  int64
 1   date                                                11154 non-null  object
 2   area_name                                           11154 non-null  object
 3   area_code                                           11154 non-null  object
 4   retail_and_recreation_percent_change_from_baseline  11136 non-null  float64
 5   grocery_and_pharmacy_percent_change_from_baseline   11142 non-null  float64
 6   parks_percent_change_from_baseline                  10321 non-null  float64
 7   transit_stations_percent_change_from_baseline       11154 non-null  int64
 8   workplaces_percent_change_from_baseline             11006 non-null  float64
 9   residential_percent_change_from_baseline            10710 non-null  float64
dtypes: float64(5), int64(2), object(3)
memory usage: 871.5+ KB

In [15]:
df

,Unnamed: 0,date,area_name,area_code,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,338,2020-02-15,City of London,E09000001,-5.0,-9.0,-12.0,-11,NaN,NaN
1,339,2020-02-16,City of London,E09000001,-1.0,-21.0,-23.0,-13,NaN,NaN
2,340,2020-02-17,City of London,E09000001,-3.0,-2.0,4.0,-1,-4.0,NaN
3,341,2020-02-18,City of London,E09000001,-2.0,-2.0,-1.0,-2,-2.0,NaN
4,342,2020-02-19,City of London,E09000001,-7.0,-4.0,5.0,0,-4.0,NaN
...,...,...,...,...,...,...,...,...,...,...
11149,11487,2021-01-13,Kingston upon Thames,E09000021,-71.0,-34.0,18.0,-71,-66.0,28.0
11150,11488,2021-01-14,Kingston upon Thames,E09000021,-76.0,-36.0,2.0,-71,-67.0,30.0
11151,11489,2021-01-15,Kingston upon Thames,E09000021,-72.0,-27.0,54.0,-69,-64.0,28.0
11152,11490,2021-01-16,Kingston upon Thames,E09000021,-79.0,-30.0,1.0,-69,-41.0,18.0
11153,11491,2021-01-17,Kingston upon Thames,E09000021,-74.0,-29.0,79.0,-60,-42.0,12.0